{{> /layout/header}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .err{
            color : red;
            background-color: blue;
            font-size: 500px;
        }
    </style>
</head>
<body class="err">
    동일한 유저네임으로 회원가입 할 수 없습니다.
</body>
</html>
{{> /layout/footer}}