{{> /layout/header}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<body class="err">
    유저 네임 혹은 비밀번호가 틀렸습니다
    <a href="/loginForm">로그인 페이지로 돌아가기</a>
</div>
</body>
</html>
{{> /layout/footer}}